@keyframes fade-in-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
    filter: blur(16px);
  }

  100% {
    transform: translateY(0);
    opacity: 1;
    filter: blur(0);
  }
}

.enter-image-animation {
  opacity: .025;
  animation: fade-in-bottom .6s cubic-bezier(.39, .575, .565, 1) forwards;
}

.enter-animation {
  opacity: .025;
  animation: fade-in-bottom .45s cubic-bezier(.39, .575, .565, 1) forwards;
}

.enter-animation:nth-child(2) {
  animation-delay: 0.2s;
}

.enter-animation:nth-child(3) {
  animation-delay: 0.4s;
}

.enter-animation:nth-child(4) {
  animation-delay: 0.6s;
}

@keyframes record-spin {
  100% {
    transform: rotate(360deg);
  }
}

.record-spin {
  animation: record-spin 7s infinite linear
}

@keyframes carousel {
  100% {
    transform: translateX(calc(-50% - (2rem/ 2)));
  }
}

.carousel {
  animation: carousel 40s linear infinite;
}