@import "tailwindcss";

@theme {
  --color-light-default-50: #fafafa;
  --color-light-default-100: #f2f2f3;
  --color-light-default-200: #ebebec;
  --color-light-default-300: #e3e3e6;
  --color-light-default-400: #dcdcdf;
  --color-light-default-500: #d4d4d8;
  --color-light-default-600: #afafb2;
  --color-light-default-700: #8a8a8c;
  --color-light-default-800: #656567;
  --color-light-default-900: #404041;
  --color-light-default-foreground: #000;
  --color-light-default-DEFAULT: #d4d4d8;
  --color-light-primary-50: #dfedfd;
  --color-light-primary-100: #b3d4fa;
  --color-light-primary-200: #86bbf7;
  --color-light-primary-300: #59a1f4;
  --color-light-primary-400: #2d88f1;
  --color-light-primary-500: #006fee;
  --color-light-primary-600: #005cc4;
  --color-light-primary-700: #00489b;
  --color-light-primary-800: #003571;
  --color-light-primary-900: #002147;
  --color-light-primary-foreground: #fff;
  --color-light-primary-DEFAULT: #006fee;
  --color-light-secondary-50: #eee4f8;
  --color-light-secondary-100: #d7bfef;
  --color-light-secondary-200: #bf99e5;
  --color-light-secondary-300: #a773db;
  --color-light-secondary-400: #904ed2;
  --color-light-secondary-500: #7828c8;
  --color-light-secondary-600: #6321a5;
  --color-light-secondary-700: #4e1a82;
  --color-light-secondary-800: #39135f;
  --color-light-secondary-900: #240c3c;
  --color-light-secondary-foreground: #fff;
  --color-light-secondary-DEFAULT: #7828c8;
  --color-light-success-50: #e2f8ec;
  --color-light-success-100: #b9efd1;
  --color-light-success-200: #91e5b5;
  --color-light-success-300: #68dc9a;
  --color-light-success-400: #40d27f;
  --color-light-success-500: #17c964;
  --color-light-success-600: #13a653;
  --color-light-success-700: #0f8341;
  --color-light-success-800: #0b5f30;
  --color-light-success-900: #073c1e;
  --color-light-success-foreground: #000;
  --color-light-success-DEFAULT: #17c964;
  --color-light-warning-50: #fef4e4;
  --color-light-warning-100: #fce4bd;
  --color-light-warning-200: #fad497;
  --color-light-warning-300: #f9c571;
  --color-light-warning-400: #f7b54a;
  --color-light-warning-500: #f5a524;
  --color-light-warning-600: #ca881e;
  --color-light-warning-700: #9f6b17;
  --color-light-warning-800: #744e11;
  --color-light-warning-900: #4a320b;
  --color-light-warning-foreground: #000;
  --color-light-warning-DEFAULT: #f5a524;
  --color-light-danger-50: #fee1eb;
  --color-light-danger-100: #fbb8cf;
  --color-light-danger-200: #f98eb3;
  --color-light-danger-300: #f76598;
  --color-light-danger-400: #f53b7c;
  --color-light-danger-500: #f31260;
  --color-light-danger-600: #c80f4f;
  --color-light-danger-700: #9e0c3e;
  --color-light-danger-800: #73092e;
  --color-light-danger-900: #49051d;
  --color-light-danger-foreground: #000;
  --color-light-danger-DEFAULT: #f31260;
  --color-light-background: #ffffff;
  --color-light-foreground: #000000;
  --color-light-content1-DEFAULT: #ffffff;
  --color-light-content1-foreground: #000;
  --color-light-content2-DEFAULT: #f4f4f5;
  --color-light-content2-foreground: #000;
  --color-light-content3-DEFAULT: #e4e4e7;
  --color-light-content3-foreground: #000;
  --color-light-content4-DEFAULT: #d4d4d8;
  --color-light-content4-foreground: #000;
  --color-light-focus: #006FEE;
  --color-light-overlay: #000000;
}

@media (prefers-color-scheme: dark) {
  @theme {
  --color-dark-default-50: #0d0d0e;
  --color-dark-default-100: #19191c;
  --color-dark-default-200: #26262a;
  --color-dark-default-300: #323238;
  --color-dark-default-400: #3f3f46;
  --color-dark-default-500: #65656b;
  --color-dark-default-600: #8c8c90;
  --color-dark-default-700: #b2b2b5;
  --color-dark-default-800: #d9d9da;
  --color-dark-default-900: #ffffff;
  --color-dark-default-foreground: #fff;
  --color-dark-default-DEFAULT: #3f3f46;
  --color-dark-primary-50: #002147;
  --color-dark-primary-100: #003571;
  --color-dark-primary-200: #00489b;
  --color-dark-primary-300: #005cc4;
  --color-dark-primary-400: #006fee;
  --color-dark-primary-500: #2d88f1;
  --color-dark-primary-600: #59a1f4;
  --color-dark-primary-700: #86bbf7;
  --color-dark-primary-800: #b3d4fa;
  --color-dark-primary-900: #dfedfd;
  --color-dark-primary-foreground: #fff;
  --color-dark-primary-DEFAULT: #006fee;
  --color-dark-secondary-50: #240c3c;
  --color-dark-secondary-100: #39135f;
  --color-dark-secondary-200: #4e1a82;
  --color-dark-secondary-300: #6321a5;
  --color-dark-secondary-400: #7828c8;
  --color-dark-secondary-500: #904ed2;
  --color-dark-secondary-600: #a773db;
  --color-dark-secondary-700: #bf99e5;
  --color-dark-secondary-800: #d7bfef;
  --color-dark-secondary-900: #eee4f8;
  --color-dark-secondary-foreground: #fff;
  --color-dark-secondary-DEFAULT: #7828c8;
  --color-dark-success-50: #073c1e;
  --color-dark-success-100: #0b5f30;
  --color-dark-success-200: #0f8341;
  --color-dark-success-300: #13a653;
  --color-dark-success-400: #17c964;
  --color-dark-success-500: #40d27f;
  --color-dark-success-600: #68dc9a;
  --color-dark-success-700: #91e5b5;
  --color-dark-success-800: #b9efd1;
  --color-dark-success-900: #e2f8ec;
  --color-dark-success-foreground: #000;
  --color-dark-success-DEFAULT: #17c964;
  --color-dark-warning-50: #4a320b;
  --color-dark-warning-100: #744e11;
  --color-dark-warning-200: #9f6b17;
  --color-dark-warning-300: #ca881e;
  --color-dark-warning-400: #f5a524;
  --color-dark-warning-500: #f7b54a;
  --color-dark-warning-600: #f9c571;
  --color-dark-warning-700: #fad497;
  --color-dark-warning-800: #fce4bd;
  --color-dark-warning-900: #fef4e4;
  --color-dark-warning-foreground: #000;
  --color-dark-warning-DEFAULT: #f5a524;
  --color-dark-danger-50: #49051d;
  --color-dark-danger-100: #73092e;
  --color-dark-danger-200: #9e0c3e;
  --color-dark-danger-300: #c80f4f;
  --color-dark-danger-400: #f31260;
  --color-dark-danger-500: #f53b7c;
  --color-dark-danger-600: #f76598;
  --color-dark-danger-700: #f98eb3;
  --color-dark-danger-800: #fbb8cf;
  --color-dark-danger-900: #fee1eb;
  --color-dark-danger-foreground: #000;
  --color-dark-danger-DEFAULT: #f31260;
  --color-dark-background: #000000;
  --color-dark-foreground: #ffffff;
  --color-dark-content1-DEFAULT: #18181b;
  --color-dark-content1-foreground: #fff;
  --color-dark-content2-DEFAULT: #27272a;
  --color-dark-content2-foreground: #fff;
  --color-dark-content3-DEFAULT: #3f3f46;
  --color-dark-content3-foreground: #fff;
  --color-dark-content4-DEFAULT: #52525b;
  --color-dark-content4-foreground: #fff;
  --color-dark-focus: #006FEE;
  --color-dark-overlay: #ffffff;
}}