---
const { title, logo, titleClass } = Astro.props;

const Logo = logo;
---

<div class="absolute top-0 z-4 p-5">
  <div
    class={`flex gap-2 items-center bg-[#0a1238] h-full px-3 py-2 rounded-full border border-[#3d444d] shadow-lg shadow-black/50 ${titleClass}`}
  >
    {logo && <Logo class="size-4" />}
    <h3 class="text-sm">{title}</h3>
  </div>
</div>
