---
const classProps = Astro.props.class
---

<div
  class={`flex w-fit items-center rounded-full gap-3 py-1.5 pl-3 pr-4 border border-zinc-600/75 bg-[#0a1238] enter-animation self-center mt-5 sm:mt-0 sm:self-start ${classProps}`}
>
  <div class="relative size-3">
    <div
      class="absolute size-full animate-ping rounded-full bg-green-300 opacity-65"
    >
    </div>
    <div class="drop-shadow-green size-full rounded-full bg-green-400"></div>
  </div>
  <p class="text-sm text-slate-200 max-xs:text-xs">Disponible para proyectos</p>
</div>

<style>
  .drop-shadow-green {
    filter: drop-shadow(0px 0px 8px #59ff7e);
  }
</style>