---
import Spotify from "@/components/icons/Spotify.astro";
import CdPlayer from "./CdPlayer.astro";
---

<article class="h-full w-full flex flex-col items-center">
  <header class="flex h-8 lg:h-7 w-full justify-between items-center mb-3">
    <p class="font-semibold">Sonando ahora</p>
    <Spotify class="h-full" />
  </header>
  <div class="flex flex-col items-center justify-center gap-5 w-full h-full">
    <CdPlayer
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT81VePj-i0_Vh9SMS3IWXJFumdeQg9-6TJ8A&s"
      alt="Caratura de esmeraldas"
    />
    <footer class="w-full">
      <p class="text-md font-bold truncate">Apuesta Doble</p>
      <p class="text-xs text-zinc-400 truncate">
        Mañas Ru-Fino, Doble Porcion, Juan Sinatra,
        otrkjlkasdjlkjsalkfdsfjkhsdkljfdshkjfhdsjk
      </p>
    </footer>
  </div>
</article>
