---
import Spotify from "@/components/icons/Spotify.astro";
import CdPlayer from "./CdPlayer.astro";
import type { SpotifyLastSong } from "@/lib/types/spotify";

import { GET } from "@/pages/api/spotifyLastSong.json";
const res = await GET(Astro);
const data = (await res.json()) as SpotifyLastSong;
---

<article class="h-full w-full flex flex-col items-center">
  <header class="flex h-8 lg:h-7 w-full justify-between items-center mb-3">
    <p class="font-semibold">Sonando ahora</p>
    <Spotify class="h-full" />
  </header>
  <a
    href={data.url}
    target="_blank"
    class="flex flex-col items-center justify-center gap-5 w-full h-full"
  >
    <CdPlayer src={data.cover} alt="Caratura de esmeraldas" />
    <footer class="w-full">
      <p class="text-md font-bold truncate">{data.title}</p>
      <p class="text-xs text-zinc-400 truncate">
        {data.artist}
      </p>
    </footer>
  </a>
</article>
