---
import HeroButtons from "@/components/HeroButtons.astro";
import ReadyToWorkBadge from "@/components/ReadyToWorkBadge.astro";
import "@/styles/animations.css";
---

<section
	class="flex mb-30 max-w-[880px] mx-auto min-h-[calc(100vh-9rem)]"
	id="init"
>
	<div
		class="flex flex-col w-[900px] md:w-[1300px] justify-center gap-5 text-center sm:text-start h-full my-auto fade-in"
	>
		<ReadyToWorkBadge class="enter-animation" />
		<header class="flex flex-col gap-2 enter-animation">
			<h1
				class="text-[52px] font-bold bg-linear-to-r from-cyan-50 via-blue-100 to-indigo-50 bg-clip-text
		text-transparent leading-[2.5lh]"
			>
				Hola, soy Santiago
			</h1>
			<p class="font-bold text-2xl text-balance">
				Ingeniero Informático de Medellín, Colombia 🇨🇴
			</p>
		</header>
		<p
			class="font-bod text-lg text-dark-default-800 text-balance enter-animation"
		>
			Especializado en el desarrollo de soluciones frontend que conectan con las
			personas y resuelven problemas reales.
		</p>
		<HeroButtons class="enter-animation" />
		<div
			class="flex h-[600px] justify-center mx-auto sm:hidden enter-image-animation"
		>
			<div class="aspect-[9/16] h-full">
				<img
					src="/foto-santiago.webp"
					alt="Foto del ingeniero Santiago Rendón Múnera"
					class="w-full h-full mask-b-from-60% drop-shadow-xl drop-shadow-blue-50/20"
				/>
			</div>
		</div>
	</div>
	<aside
		class="my-auto w-full h-[600px] justify-center hidden sm:flex enter-image-animation"
	>
		<div class="aspect-[9/16] h-full">
			<img
				src="/foto-santiago.webp"
				alt="Foto del ingeniero Santiago Rendón Múnera"
				class="w-full h-full mask-b-from-60% drop-shadow-xl drop-shadow-blue-50/20"
			/>
		</div>
	</aside>
</section>
